
@model DotaBrackets_WEB_2016.Models.ViewModel


<li style="margin-left: 30%;">
    <label>Username: </label>
    @Html.TextBoxFor(m => m.gamer.userName)
</li>
<li>
    Password
</li>
<li>
    Register
</li>
