
@model DotaBrackets_WEB_2016.Models.ViewModel

@{
    if (Model == null)
    {
        DotaBrackets_WEB_2016.Models.RootObject myModel = new DotaBrackets_WEB_2016.Models.RootObject();
    }

}

<div class="body">

    <div class="header">
        <ul class="headerUL">
            <li style="background-color: red; text-align: center">
                Logo
            </li>
            @Html.Partial("_loginPartial");
        </ul>
    </div>

    
    <div class="leftCol">
        @{
            foreach (DotaBrackets_WEB_2016.Models.Newsitem newsItem in Model.rootObject.appnews.newsitems)
            {
                <div class="newsItem">
                    @Html.Raw(newsItem.contents)
                </div>
            }
        }
    </div>

    <div class="rightCol">
        <ul class="rightColUL">
            <li>
                Public Stats
            </li>
        </ul>
    </div>

</div>