
@model DotaBrackets_WEB_2016.Models.ViewModel

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "form1" }))
{
    <li class="nav" style="margin-left: 25%;">
        <label>Username:</label>
        @Html.TextBox("userName", new { Style = "width: 52%; background-color: #b5f7f3; border: 1px solid teal" })
    </li>
    <li class="nav">
        <label>Password:</label>
        @Html.TextBox("access", new { Style = "width: 52%; background-color: #b5f7f3; border: 1px solid teal" })
    </li>
    <li class="loginButton">
        <input type="submit" value="Login" />
    </li>
}
<li style="margin-top: 2%; font-size: .8em; display: inline-block">
    <a href="@Url.Action("Register", "Home")" style="width: 10%; color: cyan">| Register</a>
</li>
