

<div class="body">

    <div>
        <ul style="padding-top: 5%">
            <li style="color: red; text-align: center;">
                Error! Please Try Again.
            </li>
        </ul>
    </div>

</div>

