

<div>
    <div style="visibility: hidden" id="groupName"></div>
</div>

<div id="partyMembers">
    hi
</div>

<ul class="rightColUL">
    <li style="border: 1px solid cyan; border-bottom: none">
        Start Searching
    </li>
    <li>
        <button id="btnSearch">Search</button>
    </li>
</ul>
<div class="chatRoom">
    <li id="name">@Model.gamer.userName</li>
    <div id="divChat"></div>
    <input type="text" id="msg" />
    <input type="button" id="btnSend" value="Send" />
</div>
