
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*End Reset*/

.body {
    background-image: url(DotaBracketsIndexBackgroundImage.png);
    background-color: black;
    max-width: 100%;
    min-height: 1200px;
    background-repeat: no-repeat;
}

/******************************************** Header *********************************************************/
.headerUL {
    background-color: rgba(55, 94, 148, 1);
    overflow: hidden;
    border-left: 10px solid cyan;
}

.logoLi {
    float: left;
    width: 20%;
    margin-left: 10%;
}

.logoSpan {
    color: #b5f7f3;
    font-size: 1.2em;
}

.logo {
    float: left;
    background-color: red;
    text-align: center;
    color: white;
    border: 1.5px solid teal;
    text-decoration: none;
    font-size: 1.8em;
    font-family: Arial;
    padding: 8% 3%;
}

.nav {
    float: left;
    width: 18%;
    margin-left: 0%;
    color: white;
    padding-top: 2%;
}

.loginButton {
    display: inline-block;
    margin-right: 1%;
}

.loginButton input{
    margin-top: 2%;
    display: inline-block;
    color: white;
    border: 1px solid cyan;
    background-color:rgba(55, 94, 148, 1);
}

/******************************************** Columns ****************************************************/

.leftCol {
    float: left;
    width: 45%;
    margin-left: 15%; 
    margin-top: 10%;
}

.newsItem {
    background-color: rgba(55, 94, 148, 1);
    border-left: 3px ridge red;
    width: 100%;
    text-align: left;
    margin-bottom: 10%;
    padding: 5%;
    color: white;
    line-height: 1.5em;
}

.newsTitle {
    font-size: 2em;
    color: #b5f7f3;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 4%;
    
}

.rightCol {
    background-color: rgba(55, 94, 148, 1);
    border-right: 3px ridge red;
    float: left;
    width: 23%;
    margin-left: 6%;
    margin-top: 10%;
    text-align: center;
    color: white;
}


/*********************************************** Registration Page ********************************************/
.regHead {
    margin: auto;
    padding-top: 3%;
}

.regHead h1 {
    font-size: 3em;
    color: #b5f7f3;
    text-align: center;
}
.register {

}



.register ul {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    border-right: 1px solid red;
}

.register li {
    background-color: rgba(55, 94, 148, 1);
    color: white;
    padding: 2%;
    border-left: 4px solid cyan;
}

.register label {
    color: #b5f7f3;
}

/****************************************** General ******************************************/

a {
    color: cyan;
    text-decoration: none;
    cursor: auto;
}