

<div class="body">


    <div class="leftCol">
        @{
            if (Model.rootObject.appnews.newsitems != null)
            {
                DotaBrackets_WEB_2016.Models.Newsitem newsItem = new DotaBrackets_WEB_2016.Models.Newsitem();
                newsItem = Model.rootObject.appnews.newsitems[0];

                    <div class="newsItem">
                        <ul>
                            <li style="text-align: right; margin-bottom: 1%; color:  #b5f7f3;">
                                @Html.Raw(newsItem.feedlabel)
                            </li>
                            <li class="newsTitle">
                                <a href="@Html.Raw(newsItem.url)">@Html.Raw(newsItem.title)</a>
                            </li>
                            <li>
                                @Html.Raw(newsItem.contents)
                            </li>
                        </ul>
                    </div>
            }
        }
    </div>

    <div class="rightCol">
        <ul class="rightColUL">
            <li>
                Start Searching
            </li>
        </ul>
    </div>

</div>

